h3 {
   text-align:right;
}

#aboutme {
 background: gold;
  height: 200px;
  padding: 10px;
  position: relative;
}

#me{
   background: limegreen;
  color: white;
  padding: 10px;
  position: absolute; 
  bottom: 10px;
   left: 20px; 
}
